// ion-tab-bar {
//   padding-bottom: var(--safe-area-inset-bottom);
// }

ion-tab-bar {
  background: white;
}

ion-icon {
  height: 34px;
  width: 34px;
}

.tab-icon {
  width: 34px;
  height: 34px;
}

ion-tab-button.tab-selected {
  .tab-icon {
    transform: scale(1.15);
    filter: brightness(1.2) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  }
}


@media (prefers-color-scheme: dark) {
  ion-tab-bar {
    background:  var(--ion-color-cuscuz-preto);
  }

  ion-icon {
    color: white !important;
  }

  .tab-icon {
    color: white !important;
  }
}
