<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="cuscuz">
    <ion-title class="ion-text-left" color="cuscuz-preto">
      <ion-text class="custom-title">{{titulo}}</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" color="cuscuz">

  <ion-refresher slot="fixed" (ionRefresh)="buscarParticipante($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      refreshingSpinner="crescent"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="loading-container ion-padding ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Atualizando...</p>
  </div>

  <ion-list *ngIf="listaParticipantes" class="lista-cospobre">

    <ion-item-sliding *ngFor="let participante of listaParticipantes"
    class="cospobre-item-sliding"
    #slidingItem>

      <ion-item lines="full"
      (click)="abrirParticipante(participante)"
      class=cospobre-item>

        <ion-thumbnail slot="start" (click)="abrirParticipante(participante)">
          <img [src]="getImageUrl(participante)" [alt]="participante.personagem" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h2>{{ participante.nome }}</h2>
            <p>{{ participante.personagem }}</p>
          </div>
        </ion-label>

        <div class="audio-controls">
          <ion-button size="small" (click)="reproduzirAudio(participante.som); $event.stopPropagation()"
          fill="clear">
            <ion-icon name="play"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="pausarAudio(); $event.stopPropagation()"
          fill="clear">
            <ion-icon name="pause"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="pararAudio() ; $event.stopPropagation()"
          fill="clear">
            <ion-icon name="stop"></ion-icon>
          </ion-button>
        </div>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="excluirParticipante(slidingItem, participante)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
